<h1>Get. Shit. Done.</h1>

<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= f.text_field :name %>
  </span>
  <span class="actions">
    <%= f.submit %>
  </span>

<% end %>

<h2>Incomplete Todos</h2>

<ul id="inc-todos" class="inc-todos">
  <% @inc_todos.each do |todo| %>
    <li><input type="checkbox" <%= "checked" if todo.completed %>><%= todo.name %><a href='/todos/<%= todo.id %>' data-confirm='Are you sure?' data-method='delete' rel='nofollow'>Destroy</a></li>
  <%end%>
</ul>


<h2>Complete Todos</h2>

<ul id="complete-todos" class="complete-todos">
  <% @complete_todos.each do |todo| %>
    <li><input type="checkbox" <%= "checked" if todo.completed %>><%= todo.name %><a href='/todos/<%= todo.id %>' data-confirm='Are you sure?' data-method='delete' rel='nofollow'>Destroy</a></li>
  <%end%>
</ul>
